<h1>Your Cart</h1>
<div class="datagrid">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantitiy</th>
        <th colspan="1"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @cart.each do |cart| %>
        <tr>
          <td align="center"><%= image_tag(cart.item.image.url(:tiny))%></td>
          <td><%= cart.item.name %></td>
          <td><%= cart.item.price %></td>
          <td align = "center"><%= cart.quantity %></td>
          <td><%= link_to 'Remove', root_url + "cart/" + cart.id.to_s , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<td><%= link_to 'Place Order', root_url + "orders/placeorder", method: :post, data: { confirm: 'Place order?' } %></td>