<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>
<div id="item_collection">
    <% @items.each do |item| %>
        <a href="<%= root_url + "items/" + item.id.to_s %>">
          <div id="item">
            <%= image_tag(item.image.url(:thumbnail))%>
            <%= item.name %>
            <% if false #current_user.try(:isadmin?) %>
              <%= link_to 'Edit', edit_item_path(item) %>
            <% end %>
            
          </div>
        </a>



    <% end %>
  
</div>


<br>
<% if false #current_user.try(:isadmin?) %>
  <%= link_to 'New Item', new_item_path %>
<% end %>

