<p id="notice"><%= notice %></p>


<div id="image">
  <%= link_to image_tag(@item.image.url(:med)), @item.image.url %>
</div>
<div id="item_info">
  <p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>
</div>

<%= link_to 'Add to Cart', root_url + "myaccount/cart/" + @item.id.to_s, method: :post %>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
