<p id="notice"><%= notice %></p>

<%= form_tag root_url + "myaccount/cart/" + @item.id.to_s do %>

  <div class="field">
    <%= link_to image_tag(@item.image.url(:med)), @item.image.url %>
    <%= print @item.image %>
  </div>
  
  <div class="field">
    <strong>Name:</strong>
    <%= @item.name %>
  </div>
  <div class="field">
    <strong>Price:</strong>
  <%= @item.price %>
  </div>
  <div class="field">
    <strong>Quantity (between 1 and <%= @item.quantity %>):</strong>
    <%= number_field_tag :quantity,'1', min: 1, max: @item.quantity %>
  </div>
  
  <div class="actions">
    <%= submit_tag "Add To Cart"%>
  </div>
<% end %>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
